.shipping-checkbox-group {
  font-size: 0;

  .woocommerce-shipping-methods {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      padding: 12px 27px;
      border-radius: 5px;
      background-color: $white;
      border: 1px solid $color-D5D5D5;

      input {
        margin-top: 0 !important;
      }

      &:first-child {
        background-color: $color-292929;
        border: 1px solid $color-292929;

        label {
          color: $white;

          &::before,
          &::after {
            border-color: $white;
          }
        }
      }
    }
  }
}

.checkout-section {

  .woocommerce-form-coupon-toggle,
  .checkout_coupon {
    .woocommerce-info {
      display: none !important;
    }
  }

  .woocommerce-checkout {
    .container-checkbox-password {
      width: fit-content !important;
      padding-right: 28px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        cursor: pointer;
        height: 0px;
        width: 0px;

        &:checked~.checkmark {
          background-color: $black !important;
          border: 1px solid $black !important;

          &::after {
            display: block !important;
          }
        }

        &:checked~label {
          color: $black !important;
        }
      }

      .checkmark {
        height: 17px !important;
        width: 17px !important;

        &::after {
          content: "";
          position: absolute;
          display: none;
          left: 5px;
          top: 2px;
          width: 4px;
          height: 8px;
          border: solid $white;
          border-width: 0 1px 1px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    .order-review-section {
      padding: 45px 45px 54px 45px;
      top: 195px;
      box-shadow: 0px 0px 30px #0000000A;

      @include media-breakpoint-down(lg) {
        border-radius: 0;
        padding: 35px 30px 35px;
      }

      .cart_item {
        .product-detail {
          .product-thumbnail {
            min-width: 29%;
            height: 108px;
            width: 29%;
            border-radius: $radius5 !important;
            overflow: hidden;

            @include media-breakpoint-down(lg) {
              min-width: 30%;
              height: 70px;
              width: 30%;
            }

            img {
              width: 100% !important;
              height: 100% !important;
              object-fit: cover !important;
            }
          }

          .woocommerce-Price-amount {
            display: inline-flex !important;
            font-family: "Montserrat-Medium", sans-serif;
            font-size: $font13 !important;
            line-height: $leading24 !important;
            color: $color-918E8E !important;
          }
        }

        .product-name,
        .product-quantity,
        .woocommerce-Price-amount {
          font-size: $font13 !important;
          line-height: $leading20 !important;
          color: $black !important;
        }

        .product-quantity {
          text-align: center;
        }

        .product-price {
          text-align: end !important;

          .woocommerce-Price-amount {
            display: block !important;
          }
        }
      }
    }

    .cart-delivery,
    .cart-subtotal {
      font-family: "Montserrat-Medium" !important;
      font-size: $font13 !important;
      line-height: $leading20 !important;
      color: $color-918E8E !important;

      .woocommerce-Price-amount {
        display: block !important;
      }
    }

    .order-total {
      font-family: "Montserrat-Medium" !important;
      font-size: $font18 !important;
      line-height: $leading30 !important;
      color: $black !important;

      .woocommerce-Price-amount {
        display: block !important;
      }
    }

    .woocommerce-checkout-payment {
      display: none !important;
    }
  }
}

.woocommerce-additional-fields {
  .woocommerce-additional-fields__field-wrapper {
    label {
      font-family: "Montserrat-Medium";
      font-size: $font11;
      line-height: $leading11;
      letter-spacing: $space0_28;
      margin-bottom: 15px;
    }

    .woocommerce-input-wrapper .input-text {
      height: auto;
      padding: 16px 24px;
    }
  }
}

.product-data {
  .product-price {
    .woocommerce-Price-amount {
      display: block !important;
      font-size: $font13 !important;
      line-height: $leading20 !important;
      color: $black !important;
    }
  }
}