.map-section {
    height: 555px;

    @include media-breakpoint-down(lg) {
        height: 433px;
    }

    .map-content {
        padding-left: 80px;
        padding-right: 65px;

        @include media-breakpoint-down(lg) {
            padding-left: 55px;
            padding-right: 55px;
        }

        .btnA {
            @include media-breakpoint-up(lg) {
                margin-left: 55px;
            }
        }
    }
}