.privacy-section {
    .privacy-left-content {
        .privacy-links {
            top: 205px;

            li {
                &:last-child {
                    margin-bottom: 0 !important;
                }

                &.active {
                    opacity: 100% !important;

                    a {
                        text-decoration: underline !important;
                    }
                }
            }
        }
    }

    .privacy-right-content {
        .single-content {
            padding-top: 60px;
            padding-bottom: 50px;
            border-bottom: 1px solid $color-EBEBEB;

            &:first-child {
                padding-top: 180px;

                @include media-breakpoint-down(lg) {
                    padding-top: 60px;
                }
            }

            &:last-child {
                padding-bottom: 0 !important;
                border-bottom: 0 !important;
            }

            @include media-breakpoint-down(lg) {
                padding-top: 55px;
                padding-bottom: 55px;
            }

            .privacy-btn-group {
                .btnA {
                    &:last-child {
                        margin-right: 0 !important;

                        @include media-breakpoint-down(lg) {
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}