.product-section-main {
  .woocommerce-ordering {
    display: none !important;
  }
}
.woocommerce-tabs,
.woocommerce-breadcrumb,
.woocommerce-products-header,
.woocommerce-result-count {
  display: none !important;
}
.yith-wcwl-add-button{
  margin-top: 0;
  span {
    display: none;
  }
  i{
    margin-right: 0 !important;
    color: $black;
  }
}

.yith-wcwl-add-to-wishlist {
  margin-top: 0;
  > div{
    a[data-title="Browse wishlist"] {
      display: none;
    }
  }
}

span.feedback {
  font-size: 0;
  i{
    font-size: 17px;
    margin-right: 0 !important;
  }
}
