.btnA {
    height: 47px;
    padding: 0px 45px;

    &.white-border-btn {
        background-color: transparent;
        border: 1px solid $white;
        color: $white;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}