.btn-group {
  .btnA {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.btnA {
  height: 47px;
  padding: 0px 26px;
  min-width: 160px;

  &.footer-btn {
    min-width: 100px !important;
  }

  &.white-border-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &.bg-292929-btn {
    background-color: $color-292929;
    border: 1px solid $color-292929;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $color-292929;
    }
  }

  &.border-292929-btn {
    background-color: transparent;
    border: 1px solid $color-292929;
    color: $color-292929;

    &:hover {
      background-color: $color-292929;
      color: $white;
    }
  }
}

.basket-btn,
.basket-btn2 {
  height: 47px;
  padding: 0px 20px;
}

.basket-btn {
  @include media-breakpoint-down(lg) {
    height: 40px;
  }
}