.card-hover {
  img {
    transform: scale(1);
    transition: 0.3s all ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.header-cards {
  height: 333px;
}

.the-ultimate-card {
  height: 426px;
}

.header-card-col,
.cards-col {
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    margin-top: 0px !important;
  }
}

.product-cards {
  .product-img {
    height: 421px;
  }
  .like-img {
    width: 15px;
  }
}

.room-cards {
  height: 518px;
}

.project-cards {
  height: 514px;
}

.blog-cards {
  .blog-card-img {
    height: 284px;
  }
}

.location-card {
  .location-img {
    height: 413px;
  }
}

.step-card {
  .step-img {
    height: 284px;
  }
}
