.card-hover {
    img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}


.header-cards {
    height: 333px;
}

.the-ultimate-card {
    height: 426px;
}

.header-card-row {
    .header-card-col {

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 0px !important;
        }
    }
}



.product-section {
    .product-slider {
        .product-img {
            height: 421px;
        }

        .like-img {
            width: 15px;
        }
    }
}


.room-card-section{
    .room-card-slider {
        .room-card-img {
            height: 518px;
        }
    }
}