.input-field,
.input-textarea {
  background-color: $white;
  color: $black;
  border: 1px solid $color-D5D5D5;
  height: 50px;

  &::placeholder {
    color: $black;
  }
}

.form-section {
  & > div {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  .input-textarea {
    height: 113px;
  }

  &.input-color-F5F5F5 {
    .input-field {
      background-color: $color-F5F5F5 !important;
      color: $color-918E8E !important;
      &::placeholder {
        color: $color-918E8E !important;
      }
    }
  }
}

.enquiry-form {
  .upload-cv {
    border: 1px dashed $color-918E8E;
    height: 46px;
  }
}

.vacancies-menu{
  .input-field{
    min-width: 432px;
  }
}