.modal {
    .modal-dialog {
        @include media-breakpoint-down(lg) {
            min-width: 100%;
            margin: 0;
        }

        .modal-content {
            @include media-breakpoint-down(lg) {
                height: 100vh !important;
                overflow-y: auto;
            }
        }
    }
}

.modal {
    &.enquiry-modal {
        .modal-dialog {
            min-width: 658px;

            @include media-breakpoint-down(md) {
                min-width: 100% !important;
                margin: 0px !important;
            }

            .modal-content {
                padding: 72px 113px 82px;
                height: 574px;

                @include media-breakpoint-down(md) {
                    padding: 25px !important;
                    height: 100vh;
                    overflow-y: auto;
                }

                .close-div {
                    top: 12px !important;
                    right: 18px !important;
                }
            }
        }
    }
}