.footer {
    background-color: $color-292929;

    .top-footer {
        .top-footer-text {
            color: $white;
        }

        .footer-slider {
            .footer-img {
                height: 327px;

                @include media-breakpoint-down(lg) {
                    height: 126px;
                }
            }
        }
    }

    .bottom-footer {
        @include media-breakpoint-down(lg) {
            .top-border {
                border-top: 1px solid $color-707070;
            }
        }

        .footer-content {
            li {
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }

        .input-row {
            padding-right: 14px;

            input {
                height: 46px;
                border: none;

                &::placeholder {
                    color: $black;
                }
            }
        }

        .radio-btns {
            .radio-btn {
                label {
                    &::after {
                        position: absolute;
                        content: "";
                        width: 21px;
                        height: 21px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 0;
                        background-color: transparent;
                        border-radius: 4px;
                        background-clip: padding-box;
                        cursor: pointer;
                        border: 1px solid $color-BCBCBC;
                    }

                    &::before {
                        position: absolute;
                        content: '✓';
                        top: 1px;
                        left: 50%;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: all 0.15s ease-in-out;
                        z-index: 1;
                        color: #000;
                        font-size: 15px;
                        font-weight: 800;
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    z-index: 1;

                    &:checked{
                        &+label{
                            &::before {
                                background-color: $white;
                                opacity: 1;
                                padding: 4px;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }


        }

        .footer-ul {
            li {
                .footer-icon {
                    width: 48px;
                }

                .header-icon {
                    height: 17px;
                }

                .footer-icon-bg {
                    height: 42px;
                    width: 42px;
                }
            }
        }
    }

    &.black-footer {
        border-top: 1px solid $color-EBEBEB;

        .top-footer {
            .top-footer-text {
                color: $black;
            }

            background-color: $white;
        }
    }
}