.header {
    z-index: 999;
    .header-section {
        .nav-header {
            @include media-breakpoint-down(xl) {
                padding: 15px 0;
            }
            .header-logo {
                width: 154px;
                @include media-breakpoint-down(lg) {
                    width: 118px;
                }
            }

            .menu-toggle {
                .burgar-menu {
                    width: 24px;
                    height: 18px;
                    cursor: pointer;
                    transform: scaleX(-1);

                    line {
                        stroke: $color-292929;
                        stroke-dasharray: 120%;
                        stroke-dashoffset: 0%;
                        transition: transform 0.3s, stroke-dashoffset 0.4s;
                        transform-origin: center;
                        stroke-width: 2px;

                        &.top {
                            transform: translateY(-44%);
                        }

                        &.middle {
                            transform: scaleX(1);
                            transition: opacity 0.3s, transform 0.3s;
                        }

                        &.bottom {
                            transform: translateY(45%);
                        }
                    }

                    &.activate {
                        .top {
                            transform: rotate(45deg);
                            stroke-linecap: round;
                        }

                        .middle {
                            transform: scaleX(0.1);
                            opacity: 0;
                        }

                        line.bottom {
                            transform: rotate(-45deg);
                            stroke-linecap: round;
                        }

                        .bottom {
                            stroke-dashoffset: 0%;
                        }
                    }
                }
            }

            .navigation-menu {
                @include media-breakpoint-down(xl) {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                }
                .nav {
                    @include media-breakpoint-down(xl) {
                        overflow: auto;
                    }
                    .navigation {
                        .menu-item {
                            & > div {
                                @include media-breakpoint-down(xl) {
                                    padding-left: 30px;
                                    padding-right: 30px;
                                }
                                a {
                                    @include media-breakpoint-up(xl) {
                                        &::after {
                                            content: "";
                                            position: absolute;
                                            bottom: -30px;
                                            left: 50%;
                                            width: 10px;
                                            height: 2px;
                                            opacity: 0;
                                            background-color: black;
                                            visibility: hidden;
                                            transform: translateX(-50%);
                                            transition: all 0.3s ease-in-out;
                                        }
                                    }
                                }
                            }
                            &:last-child {
                                margin-right: 0px !important;
                            }
                            .menu-arrow {
                                width: 10px;
                            }
                            .mega-menu {
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(-30px);
                                overflow: hidden;
                                @include media-breakpoint-down(xl) {
                                    position: initial !important;
                                    transform: translateY(0);
                                    height: 0;
                                    padding: 0 !important;
                                }
                                .header-menu {
                                    li {
                                        &:last-child {
                                            margin-bottom: 0 !important;
                                        }
                                    }
                                }
                            }
                            @include media-breakpoint-down(xl) {
                                & > div {
                                    padding-top: 17px !important;
                                    padding-bottom: 17px !important;
                                    margin-top: 0 !important;
                                    border-bottom: 1px solid $color-F7F7F7;
                                }
                                &:first-child {
                                    border-top: 1px solid $color-F7F7F7;
                                }
                                &.res-menu-active {
                                    .mega-menu {
                                        opacity: 1;
                                        visibility: visible;
                                        height: fit-content;
                                        padding: 16px 0 25px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .logo-navigation,
            .res-logo-nav2,
            .res-logo-nav {
                li {
                    .icon-bg {
                        height: 31px;
                        width: 31px;

                        img {
                            height: 14px;
                        }
                    }
                    &:last-child {
                        margin-right: 0px !important;
                    }
                }
                // .header-icon {
                //   width: 15px;
                // }
                .head-search {
                    &.search-open {
                        .seach-menu-slide {
                            opacity: 1;
                            visibility: visible;
                            height: 100vh;
                        }
                    }
                    .seach-menu-slide {
                        border-top: 1px solid $color-EBEBEB;
                        height: 100px;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
            .res-logo-nav2 {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }

    &.header-hover {
        .header-section {
            .nav {
                .navigation {
                    .menu-item {
                        &.menu-active {
                            & > div {
                                a {
                                    &::after {
                                        opacity: 1;
                                        visibility: visible;
                                        width: 100%;
                                    }
                                }
                            }
                            .mega-menu {
                                border-top: 1px solid $color-EBEBEB;
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0px);
                            }
                            .header-menu {
                                li {
                                    &:last-child {
                                        margin-bottom: 0px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.header-fixed-os {
        transform: translateY(0px);
    }
    &.hidden {
        transform: translateY(-110px);
    }

    &.header-active {
        .header-section {
            .nav-header {
                .navigation-menu {
                    @include media-breakpoint-down(xl) {
                        max-height: 100vh;
                        opacity: 1;
                        visibility: visible;
                        background-color: $white;
                        overflow: scroll;
                    }
                }
            }
        }
        &.header-megamenu-active {
            .navigation-menu {
                padding-bottom: 110px;
            }
        }
    }
}
