// slick-overflow
.slick-overflow {
  overflow: hidden;

  .slick-slider {
    .slick-list {
      overflow: visible;
    }
  }
}

// TEXT OVERFLOW CSS
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;

  @include media-breakpoint-down(lg) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.h-vh {
  height: 100vh;
}

.row {
  margin-left: 0;
  margin-right: 0;

  & > * {
    padding-left: 0;
    padding-right: 0;
  }
}

.row6 {
  margin-left: -6px;
  margin-right: -6px;

  & > * {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.row10 {
  margin-left: -10px;
  margin-right: -10px;

  & > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row15 {
  margin-left: -15px;
  margin-right: -15px;

  & > * {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row20 {
  margin-left: -20px;
  margin-right: -20px;

  & > * {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.z-index-nine {
  z-index: 9;
}

@include media-breakpoint-down(lg) {
  .px-p-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .pe-p-0 {
    padding-right: 0 !important;
  }

  .ps-p-0 {
    padding-left: 0 !important;
  }

  .px-p-p {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .mx-m-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .res-w-100 {
    width: 100% !important;
  }

  .res-h-100 {
    height: 100%;
  }

  .res-w-auto {
    width: auto !important;
  }

  .res-h-auto {
    height: auto !important;
  }

  .res-h-vh {
    height: 100vh;
  }

  .res-w-fit {
    width: fit-content !important;
  }

  .res-h-fit {
    height: fit-content !important;
  }

  .res-w-50 {
    width: 50% !important;
  }

  .res-radius-0 {
    border-radius: 0 !important;
  }

  .text-truncate-none {
    text-overflow: initial !important;
    -webkit-line-clamp: initial !important;
  }

  .trasform-none {
    transform: initial !important;
  }
}
