// background color
.bg-191919 {
  background-color: $color-191919;
}

.bg-292929 {
  background-color: $color-292929;
}

.bg-FAF8F7 {
  background-color: $color-FAF8F7;
}

.bg-BCBCBC {
  background-color: $color-BCBCBC;
}

.bg-DFE0DB {
  background-color: $color-DFE0DB;
}

.bg-7D7D7D {
  background-color: $color-7D7D7D;
}

.bg-D5D5D5 {
  background-color: $color-D5D5D5;
}

.bg-707070 {
  background-color: $color-707070;
}

.bg-918E8E {
  background-color: $color-918E8E;
}

.bg-C3C3C3 {
  background-color: $color-C3C3C3;
}

.bg-2A2A2A {
  background-color: $color-2A2A2A;
}

.bg-EFEFEF {
  background-color: $color-EFEFEF;
}

.bg-F5F5F5 {
  background-color: $color-F5F5F5;
}

.bg-202020 {
  background-color: $color-202020;
}

// text color

.text-191919 {
  color: $color-191919;
}

.text-292929 {
  color: $color-292929;
}

.text-FAF8F7 {
  color: $color-FAF8F7;
}

.text-BCBCBC {
  color: $color-BCBCBC;
}

.text-DFE0DB {
  color: $color-DFE0DB;
}

.text-7D7D7D {
  color: $color-7D7D7D;
}

.text-D5D5D5 {
  color: $color-D5D5D5;
}

.text-707070 {
  color: $color-707070;
}

.text-918E8E {
  color: $color-918E8E;
}

.text-C3C3C3 {
  color: $color-C3C3C3;
}

.text-2A2A2A {
  color: $color-2A2A2A;
}

.text-EFEFEF {
  color: $color-EFEFEF;
}

.text-F5F5F5 {
  color: $color-F5F5F5;
}

.text-202020 {
  color: $color-202020;
}

// font size

.font9 {
  font-size: $font9;
}

.font10 {
  font-size: $font10;
}

.font11 {
  font-size: $font11;
}

.font12 {
  font-size: $font12;
}

.font13 {
  font-size: $font13;
}

.font14 {
  font-size: $font14;
}

.font15 {
  font-size: $font15;
}

.font16 {
  font-size: $font16;
}

.font18 {
  font-size: $font18;
}

.font20 {
  font-size: $font20;
}

.font22 {
  font-size: $font22;
}

.font24 {
  font-size: $font24;
}

.font25 {
  font-size: $font25;
}

.font26 {
  font-size: $font26;
}

.font27 {
  font-size: $font27;
}

.font30 {
  font-size: $font30;
}

.font34 {
  font-size: $font34;
}

.font35 {
  font-size: $font35;
}

.font40 {
  font-size: $font40;
}

.font45 {
  font-size: $font45;
}

.font48 {
  font-size: $font48;
}

.font50 {
  font-size: $font50;
}

.font55 {
  font-size: $font55;
}

.font60 {
  font-size: $font60;
}

.font65 {
  font-size: $font65;
}

.font70 {
  font-size: $font70;
}

.font75 {
  font-size: $font75;
}

.font80 {
  font-size: $font80;
}

.font80 {
  font-size: $font80;
}

.font103 {
  font-size: $font103;
}

// line height

.leading11 {
  line-height: $leading11;
}

.leading16 {
  line-height: $leading16;
}

.leading20 {
  line-height: $leading20;
}

.leading24 {
  line-height: $leading24;
}

.leading30 {
  line-height: $leading30;
}

.leading35 {
  line-height: $leading35;
}

.leading45 {
  line-height: $leading45;
}

.leading48 {
  line-height: $leading48;
}

.leading55 {
  line-height: $leading55;
}

.leading60 {
  line-height: $leading60;
}

.leading65 {
  line-height: $leading65;
}

.leading70 {
  line-height: $leading70;
}

.leading85 {
  line-height: $leading85;
}

.leading90 {
  line-height: $leading90;
}

.leading123 {
  line-height: $leading123;
}

// letter spacing

.space0_23 {
  letter-spacing: $space0_23;
}

.space0_28 {
  letter-spacing: $space0_28;
}

.space0_45 {
  letter-spacing: $space0_45;
}

.space0_55 {
  letter-spacing: $space0_55;
}

.space0_68 {
  letter-spacing: $space0_68;
}

.space0_88 {
  letter-spacing: $space0_88;
}

.space1_65 {
  letter-spacing: $space1_65;
}

.space1_2 {
  letter-spacing: $space1_2;
}

.space1_25 {
  letter-spacing: $space1_25;
}

// border radius
.border-EBEBEB {
  border-color: $color-EBEBEB !important;
}

.border-BCBCBC {
  border-color: $color-BCBCBC !important;
}

.border-707070 {
  border-color: $color-707070 !important;
}

.radius5 {
  border-radius: $radius5;
}

.radius10 {
  border-radius: $radius10;
}

// opacity css

.opacity22 {
  opacity: $opacity22;
}

.opacity23 {
  opacity: $opacity23;
}

.opacity29 {
  opacity: $opacity29;
}

.opacity38 {
  opacity: $opacity38;
}

.opacity62 {
  opacity: $opacity62;
}

@include media-breakpoint-down(lg) {
  // res-font ======================

  .res-font9 {
    font-size: $font9;
  }

  .res-font10 {
    font-size: $font10;
  }

  .res-font11 {
    font-size: $font11;
  }

  .res-font12 {
    font-size: $font12;
  }

  .res-font13 {
    font-size: $font13;
  }

  .res-font14 {
    font-size: $font14;
  }

  .res-font15 {
    font-size: $font15;
  }

  .res-font16 {
    font-size: $font16;
  }

  .res-font18 {
    font-size: $font18;
  }

  .res-font20 {
    font-size: $font20;
  }

  .res-font22 {
    font-size: $font22;
  }

  .res-font24 {
    font-size: $font24;
  }

  .res-font25 {
    font-size: $font25;
  }

  .res-font26 {
    font-size: $font26;
  }

  .res-font27 {
    font-size: $font27;
  }

  .res-font30 {
    font-size: $font30;
  }

  .res-font34 {
    font-size: $font34;
  }

  .res-font35 {
    font-size: $font35;
  }

  .res-font40 {
    font-size: $font40;
  }

  .res-font45 {
    font-size: $font45;
  }

  .res-font48 {
    font-size: $font48;
  }

  .res-font50 {
    font-size: $font50;
  }

  .res-font55 {
    font-size: $font55;
  }

  .res-font60 {
    font-size: $font60;
  }

  .res-font65 {
    font-size: $font65;
  }

  .res-font70 {
    font-size: $font70;
  }

  .res-font75 {
    font-size: $font75;
  }

  .res-font80 {
    font-size: $font80;
  }

  .res-font80 {
    font-size: $font80;
  }

  .res-font103 {
    font-size: $font103;
  }

  .res-font28 {
    font-size: $res-font28;
  }

  .res-font32 {
    font-size: $res-font32;
  }

  // line-height ======================

  .res-leading11 {
    line-height: $leading11;
  }

  .res-leading16 {
    line-height: $leading16;
  }

  .res-leading20 {
    line-height: $leading20;
  }

  .res-leading24 {
    line-height: $leading24;
  }

  .res-leading30 {
    line-height: $leading30;
  }

  .res-leading35 {
    line-height: $leading35;
  }

  .res-leading45 {
    line-height: $leading45;
  }

  .res-leading48 {
    line-height: $leading48;
  }

  .res-leading55 {
    line-height: $leading55;
  }

  .res-leading60 {
    line-height: $leading60;
  }

  .res-leading65 {
    line-height: $leading65;
  }

  .res-leading70 {
    line-height: $leading70;
  }

  .res-leading85 {
    line-height: $leading85;
  }

  .res-leading90 {
    line-height: $leading90;
  }

  .res-leading123 {
    line-height: $leading123;
  }

  .res-space0 {
    letter-spacing: 0px;
  }

  // letter-spacing ==========================
  .res-space0_23 {
    letter-spacing: $space0_23;
  }

  .res-space0_28 {
    letter-spacing: $space0_28;
  }

  .res-space0_45 {
    letter-spacing: $space0_45;
  }

  .res-space0_55 {
    letter-spacing: $space0_55;
  }

  .res-space0_68 {
    letter-spacing: $space0_68;
  }

  .res-space0_88 {
    letter-spacing: $space0_88;
  }

  .res-space1_65 {
    letter-spacing: $space1_65;
  }

  .res-space1_2 {
    letter-spacing: $space1_2;
  }

  .res-space1_25 {
    letter-spacing: $space1_25;
  }

  .res-space1_35 {
    letter-spacing: $res-space1_35;
  }
}
