// bg-color

$color-191919: #191919;
$color-292929: #292929;
$color-FAF8F7: #FAF8F7;
$color-BCBCBC: #BCBCBC;
$color-DFE0DB: #DFE0DB;
$color-7D7D7D: #7D7D7D;
$color-D5D5D5: #D5D5D5;
$color-707070: #707070;
$color-918E8E: #918E8E;
$color-C3C3C3: #C3C3C3;
$color-2A2A2A: #2A2A2A;
$color-EFEFEF: #EFEFEF;
$color-F5F5F5: #F5F5F5;
$color-202020: #202020;
$color-EBEBEB: #EBEBEB;
$color-F7F7F7: #F7F7F7;


// ========================== font ===================

$font9 :9px;
$font10 :10px;
$font11 :11px;
$font12 :12px;
$font13 :13px;
$font14 :14px;
$font15 :15px;
$font16 :16px;
$font18 :18px;
$font20 :20px;
$font22 :22px;
$font24 :24px;
$font25 :25px;
$font26 :26px;
$font27 :27px;
$font30 :30px;
$font34 :34px;
$font35 :35px;
$font40 :40px;
$font45 :45px;
$font48 :48px;
$font50 :50px;
$font55 :55px;
$font60 :60px;
$font65 :65px;
$font70 :70px;
$font75 :75px;
$font80 :80px;
$font103 :103px;

// res-font

$res-font28: 28px;
$res-font32: 32px;

// leading


$leading11: 11px;
$leading16: 16px;
$leading20: 20px;
$leading24: 23px;
$leading30: 30px;
$leading35: 35px;
$leading45: 45px;
$leading48: 48px;
$leading55: 55px;
$leading60: 60px;
$leading65: 65px;
$leading70: 70px;
$leading85: 85px;
$leading90: 90px;
$leading123: 123px;



// space 

$space0_23 :0.23px;
$space0_28 :0.28px;
$space0_45 :0.45px;
$space0_55 :0.55px;
$space0_68 :0.68px;
$space0_88 :0.88px;
$space1_65 :1.65px;
$space1_2 :1.2px;
$space1_25 :1.25px;

// res-spacing 

$res-space1_35 : 1.35px;

// radius

$radius5: 5px;
$radius10: 10px;


// opacity

$opacity22 : 22%;
$opacity23 : 23%;
$opacity29 : 29%;
$opacity38 : 38%;
$opacity62 : 62%;
