.product-filter {
  .project-dropdown {
    .project-menus {
      min-height: 319px !important;
    }
    .project-menu {
      min-height: 160px;
      height: 100%;
      overflow: auto;
      display: none;
      transition: all 0.3s ease-in-out;
      background-color: rgba($color: $color-292929, $alpha: 0.8);
      backdrop-filter: blur(5px);

      .activity-button {
        padding-left: 18px;
        padding: 0px 20px !important;
        &.active {
          background-color: transparent;
          &::before {
            content: "\2713";
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}

.project-toggle,
.activity-button {
  height: 28px;
  padding: 0px 40px !important;
}
.activity-button {
  &:first-child {
    margin-left: 0px !important;
  }
  &.active {
    background-color: $black;
    color: $white !important;
  }
}

.blog-filter {
  .activity-category {
    @include media-breakpoint-down(lg) {
      overflow-x: auto !important;
    }
  }
}
