.hero-section,
.main-hero-section,
.project-open-hero {
  height: 100vh;

  @include media-breakpoint-down(lg) {
    height: 725px;
  }
}

.inspiration-hero-section {
  height: 630px;

  .inspiration-hero-content {
    height: calc(100% - 102px);
  }
}

.slider-banner-section {
  .slider-banner {
    height: 708px;
  }
}

.banner-section {
  height: 638px;

  @include media-breakpoint-down(lg) {
    height: 375px;
  }
}